.Cadastro {
  &__containner {
    display: grid;
    padding: 2%;
    grid-template-columns: 50% 20%;
    grid-template-rows: 4rem 1fr;
    grid-template-areas:
      "left-top right"
      "left-bottom right";
    justify-content: center;
    @media (max-width: 56.25em /*900px*/) {
      grid-template-columns: 95%;
      grid-template-rows: 4rem 1fr 1fr;
      grid-template-areas:
        "left-top"
        "right"
        "left-bottom";
    }
  }
  &__left-top {
    grid-area: left-top;
    &__title {
      font-size: 3rem;
    }
  }
  &__left-bottom {
    grid-area: left-bottom;
    &__buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
    &__button {
      background-color: #41a5df;
      text-decoration: none;
      padding: 0.5em 0.8em;
      border-radius: 0.32rem;
      font-size: 1.2rem;
      color: #f0f0f0;
      border: 0.06rem solid #41a5df;
      font-weight: 600;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
  &__right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    &__gymme {
      width: 100%;
      @media (max-width: 56.25em /*900px*/) {
        width: 70%;
      }
    }
  }
}
