.containner-cadastro {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.div-top-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-cadastro {
  border: 1px solid black;
}

.forms-cadastro {
  display: flex;
  gap: 0.32rem;
  margin-top: 0.8rem;
  flex-direction: column;
}

.button-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.gymme-categoria {
  width: 100%;
}

.div-img-categoria {
  width: 20%;
}

.div-img-forms {
  display: flex;
  flex-direction: row-reverse;
  gap: 3rem;
  justify-content: center;
}

@media (max-width: 56.25em /*900px*/) {
  .div-img-forms {
    flex-direction: column;
  }
}
