.Cadastro {
  &__containner {
    display: grid;
    padding: 2%;
    grid-template-columns: 50% 200px;
    grid-template-rows:
      4rem 1fr 3
      rem;
    grid-template-areas:
      "left-top right-top"
      "left-bottom right-top"
      "left-bottom right-bottom";
    justify-content: center;
    @media (max-width: 56.25em /*900px*/) {
      grid-template-columns: 100px 1fr;
      grid-template-rows: 4rem 8rem 1fr;
      grid-template-areas:
        "left-top left-top"
        "right-top right-bottom"
        "left-bottom left-bottom";
    }
  }
  &__left-top {
    grid-area: left-top;
    &__title {
      font-size: 3rem;
    }
  }
  &__left-bottom {
    grid-area: left-bottom;
    &__buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
    &__button {
      background-color: #41a5df;
      text-decoration: none;
      padding: 0.5em 0.8em;
      border-radius: 0.32rem;
      font-size: 1.2rem;
      color: #f0f0f0;
      border: 0.06rem solid #41a5df;
      font-weight: 600;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
  &__right-top {
    grid-area: right-top;
    display: flex;
    flex-direction: column;
    &__gymme {
      width: 200px;
      @media (max-width: 56.25em /*900px*/) {
        width: 100px;
      }
    }
  }
  &__right-bottom {
    grid-area: right-bottom;
    display: flex;
    justify-content: center;
    align-items: end;
    @media (max-width: 56.25em /*900px*/) {
      justify-content: start;
    }
  }
}
