.containner-cadastro {
  display: block;
  padding: 2% 5rem;
}

.input-cadastro {
  border: 1px solid black;
}

.forms-cadastro {
  display: flex;
  gap: 0.32rem;
  margin-top: 0.8rem;
  flex-direction: column;
}

.radio-flex {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
