@media (max-width: 900px) {
  .containner {
    flex-direction: column;
  }
}

.containner {
  display: flex;
  box-sizing: border-box;
  padding: 2%;
}

input {
  all: unset;
  appearance: auto;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1.2;
  background-color: #f0f0f0;
  align-items: center;
}

.info-div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 30px;
}

.text {
  font-size: 20px;
}

.margin {
  margin-bottom: 15px;
}

.logo {
  width: 50%;
  border-radius: 50%;
  box-shadow: 15px 30px 50px #00000050;
}

.right {
  display: flex;
  flex: 0.8;
  background-color: #f0f0f0;
  place-content: center;
  place-items: center;
}

.login-div {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.input-login {
  border: 1px solid #000000;
  background-color: #f0f0f0;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}

.btn-login {
  background-color: #41a5df;
  padding: 5px 9px;
  border-radius: 5px;
  font-size: 18px;
  color: #f0f0f0;
  border: 1px solid #41a5df;
  margin-top: 20px;
  font-weight: 600;
}

.btn-login:hover {
  opacity: 0.8;
}

.btn-login:active {
  opacity: 1;
}
