.containner {
  display: flex;
  box-sizing: border-box;
  padding: 2%;
}

input {
  all: unset;
  appearance: auto;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1.2;
  background-color: #f0f0f0;
  align-items: center;
}

.info-div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
}

.text {
  font-size: 1.2rem;
}

.margin {
  margin-bottom: 1rem;
}

.logo {
  width: 50%;
  border-radius: 50%;
  box-shadow: 1rem 2rem 3rem #00000050;
}

.right {
  display: flex;
  flex: 0.8;
  background-color: #f0f0f0;
  place-content: center;
  place-items: center;
}

.login-div {
  display: flex;
  flex-direction: column;
  gap: 0.32rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
}

input {
  border: 0.06rem solid #000000;
  background-color: #f0f0f0;
  padding: 0.45rem 0.6rem;
  border-radius: 0.32rem;
  font-size: 1.2rem;
  color: black;
}

button {
  background-color: #41a5df;
  padding: 0.5em 0.8em;
  border-radius: 0.32rem;
  font-size: 1.2rem;
  color: #f0f0f0;
  border: 0.06rem solid #41a5df;
  margin-top: 1.25rem;
  font-weight: 600;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 1;
}

@media (max-width: 56.25em /*900px*/) {
  .containner {
    flex-direction: column;
  }

  .info-div {
    width: 95%;
  }

  .right {
    display: none;
  }
}
