.Slider {
  &__title {
    font-size: 2.2rem;
    padding: 1rem 2.5rem;
  }
  &__containner {
    display: flex;
    padding: 1em;
    gap: 1rem;
    background-color: #efefef;
    overflow-x: scroll;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    background-color: #00395bd9;
    border-radius: 0.5rem;
    padding: 1em 0.3em 0.45em 0.3em;
    justify-content: space-between;
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: #ffffff;
    width: 200px;
    padding-bottom: 1rem;
    &__titulo {
      font-weight: bold;
      padding-left: 6px;
    }
    &__picture {
      background-image: url("../../assets/clear-background.png");
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border: 1px solid #41a5df;
    }
    &__intro {
      font-size: 2vh;
      padding: 0 0 2rem 0.2rem;
      overflow-wrap: break-word;
    }
    &__especializacoes {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
    &__especializacao {
      background-color: #00395bb3;
      color: #f0f0f0;
      padding: 0.25em 1em;
      border-radius: 50px;
      font-size: 0.7rem;
      font-weight: bold;
      border: 1px solid #41a5df;
    }
    &__botao {
      background-color: #00395bb3;
      border: 1px solid #ffffff;
      border-radius: 0.5rem;
      color: #ffffff;
      padding: 0.4rem;
      text-align: center;
      &:active {
        opacity: 0.6;
      }
    }
  }
}
