.navbar {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 2%;
}

.nav-title {
  font-size: 2rem;
  padding: 10px 15px;
}

.nav-links {
  display: flex;
  overflow: hidden;
}

.nav-anime {
  height: 0;
  transition: all 500ms ease;
}

.nav-anime:not(:empty) {
  height: 180px;
}

.nav-left {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.navlink {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 12px;
}

.navlink:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.active {
  color: #41a5df;
}

@media (max-width: 56.25em) {
  .nav-links {
    flex-direction: column;
  }
}

@media (min-width: 56.25em) {
  .nav-anime:not(:empty) {
    height: 0;
  }
}
