footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: center;
  place-items: center;
  padding: 1.5rem 0.5rem;
}

.footer-text {
  display: block;
  margin-bottom: 0.5rem;
}

.link {
  color: #000000;
  text-decoration: none;
}

.link:hover {
  color: #41a5df;
}
