:root {
  --scrollbar-color-primary: #3c6780;
  --scrollbar-color-secondary: #f0f0f0;
  --scrollbar-color-transparent: #00395bbf;
  --scrollbar-width: 8px;
  --scrollbar-radius: 1rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  color: #000000;
  font-family: "Quicksand", "Outfit";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  font-family: inherit;
  cursor: pointer;
}

* {
  scrollbar-color: var(--scrollbar-color-primary)
    var(--scrollbar-color-secondary);
  scrollbar-width: thin;
}

*:hover {
  scrollbar-color: var(--scrollbar-color-primary)
    var(--scrollbar-color-secondary);
}

*:active {
  scrollbar-color: var(--scrollbar-color-transparent)
    var(--scrollbar-color-secondary);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-color-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color-primary);
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}
